<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trip Extractor!</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <style>
    .timetable {
        font-size: 11px;
        background: ghostwhite;
        padding: 4px;
        margin: 2px;
        text-align: center;
    }
    </style>
</head>

<body>
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Trip Extractor
            </h1>
        </div>
    </div>
</section>
<section class="section">
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child notification is-warning">
                <p class="title">Input: stops</p>
                {% if stops > 0 %}
                <p>There is {{ stops }} stops. ({{ stop_and_route }} stop-n-routes)</p>
                {% elif stops == 0 %}
                    <p>There is no stop yet.</p>
                {% else %}
                    <p>There is a problem: {{ stops }}.</p>
                {% endif %}
            </div>
            <div class="tile is-child notification is-primary">
                <p class="title">Input: traces</p>
                {% if traces > 0 %}
                <p>There is {{ traces }} traces.</p>
                {% elif traces == 0 %}
                <p>There is no trace yet.</p>
                {% else %}
                <p>There is a problem: {{ traces }}.</p>
                {% endif %}
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">Output</p>
                <p class="title">stop_times</p>
                {% if stop_times > 0 %}
                <p>There is {{ stop_times }} stop_times.</p>

                <hr />
                {% for direction, sts in summary %}
                    <h3>{{ direction }}</h3>
                    <hr />
                    {% for stop in sts %}
                    <div class="columns is-multiline">
                        <h2>{{ forloop.index }}</h2>
                        {% for sche in stop %}
                        <div class="column timetable">{{ sche }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                <hr />{% endfor %}

                {% elif stop_times == 0 %}
                <p>There is no trace yet.</p>
                {% else %}
                <p>There is a problem: {{ stop_times }}.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>

{% if traces > 0 or stops > 0 %}
<section class="section">
    <div class="container">
        <div class="notification is-danger">
        <form method="POST" action="/input/reset">
            <input type="submit" value="reset all data" />
        </form>
        </div>
    </div>
</section>
{% endif %}

</body>

</html>